<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Consyssion</title>
  <link rel="icon" type="image/svg+xml" href="assets/img/urku-ico.svg">
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body>
  <app-header></app-header>

  <app-principal></app-principal>

  <app-footer></app-footer>

  <!-- Scripts -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.scrollex.min.js"></script>
  <script src="/assets/js/jquery.scrolly.min.js"></script>
  <script src="/assets/js/skel.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="/assets/js/main.js"></script>

</body>
</html>
